<!DOCTYPE html>
<html th:fragment="layout (title, contents, script)" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/head :: head(${title})}"></head>
<body>
<!--/** contents **/-->
<div class="l-wrapper bg-gray-100 flex">
  <aside class="l-side relative bg-purple-900 bg-sidebar w-64 shadow-xl">
    <th:block th:replace="~{include/sidebar :: sidebar}"></th:block>
  </aside>
  <div class="l-frame relative w-full flex flex-col bg-gray-100 overflow-y-hidden">
    <header th:replace="~{include/header :: header(${title})}"></header>
    <div class="l-contents w-full h-full overflow-x-hidden border-t flex flex-col">
		<main th:replace="${contents}"></main>
    </div>
    <footer th:replace="~{include/footer :: footer}"></footer>
  </div>
</div>
<script th:replace="${script}"></script>
</body>
</html>
